body {
  background-image: url('../img/bc.jpg');
  font-family: 'Poiret One', cursive;
}
h1{
  font-size: 65px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
img {
    margin: 0 auto;
}
h2 {
  font-size: 40px;
}
h3{
  line-height: 30px;
  font-family: 'Forum', cursive;
}
h4{
color: #1D634A;
font-size: 20px;
font-family: 'Forum', cursive;
}
p{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: 'Forum', cursive;
}
#hero{
  padding: 50px 0;
}
.carousel-inner{
    display: inline-block;
}
#myCarousel{
  background: rgba(240,245,245,.95);
  padding: 25px 70px 25px;
  min-height: 500px;
  border-top: 1px solid #334d4d;
  border-bottom: 1px solid #334d4d;
}
#images{
  padding-top: 10px;
  display: inline-flex;
}
.image{
  display: inline-block;
  position: relative;
  padding: 0 8px;
  width: 33%;
}
#blogs{
  display: inline-flex;
  padding: 15px 8px 0;
}
.blog{
  display: inline-block;
  width: 33%;
  position: relative;
}
#blogs a{
  color: #1D634A;
}
.image p{
  font-size: 18px;
}

.one{
  padding: 0 95px;
}
.one p{
  padding-top: 20px;
  line-height: 1.6em;
}
.one h2{
  padding-bottom: 10px;
}

.carousel-control{
  text-align: center;
  height: 50px;
  width: 50px;
}
.img-circle {
    border-radius: 50%;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
    -webkit-filter: grayscale(100%);
}
.carousel-inner {
  text-align: center;
}

#item{
margin: 0 auto;
width: 100%;
height: 100%;
text-align: center;
}

.icons {
  text-align: right;
  padding: 0px 80px 15px;
}
.abouticons a{
color: #1D634A;
padding-left: 10px;
}

.icons a {
  color: white;
  padding-right: 15px;
}
h4:hover{
  color: black;
}
.img-circle:hover{
  filter: none;
  -webkit-filter: grayscale(0%);
}
a:hover {
    color: #1D634A;
}
#blogs a:hover{
  color: black;
}
.abouticons a:hover{
color: black;
}


@media screen and (max-width: 800px) {
    body {
        color: #1D634A;
    }

    #myCarousel{
      background-color: white;
      height: 100%;
      padding: 30px 5px;
    }
    #images{
      display: inline;
    }
    #blogs{
      display: inline;
      padding: 0 25px;
    }
    .blog{
      display: inline;
      padding: 5px;
    }
    #blogs a{
      color: black;
    }
    .image{
      display: inline;
    }
    .two{
      padding: 10px 20px;
    }

}
